$black:#2D2D2D;
$orange: #F1A10A;

.container {
    width: 100vw;
    height: 100px;
    color: white;
    background-color: $black;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    h1{
        font-size: 36px;
    }

    .menuMobile {
        display: none;
        background: none;
        padding: 0;
        border: none;
        cursor: pointer;
        filter: invert(99%) sepia(63%) saturate(0%) hue-rotate(271deg) brightness(109%) contrast(100%);

        &:hover{
            filter: invert(73%) sepia(32%) saturate(3240%) hue-rotate(354deg) brightness(95%) contrast(98%);
        }
    }
    
    .menu{
        display: flex;
        gap: 6.35vw;//118px
        font-size: 32px;
        font-weight: 500;

        a{
            text-decoration: none;

            &:visited {
                color: white;
            }

            &:hover{
                color: $orange;
            }
        }

        button {
            background: none;
            padding: 0;
            border: none;
            cursor: pointer;
            font-size: 32px;
            font-weight: 500;
            font-family: 'Rubik', sans-serif;
            color: white;

            &:hover{
                color: $orange;
            }
        }
    }
    
    .background {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgb(0 0 0 / 60%);
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        
        -ms-overflow-style: none;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display:none;
        }
        
        .dialog{
            background: white;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 460px 0;
            padding: 42px;
            width: 42%;
            font-family: 'Rubik', sans-serif;
            
            .close{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding: 10px;
                
                button{
                    background: none;
                    border: none;
                    padding: 0;
                    cursor: pointer;
                }
            }

            h1 {
                color: $orange;
                margin: 0px 0 50px;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 50px;
                width: 100%;
                padding: 0 80px;
                font-size: 24px;
                line-height: 34px;

                div{
                    display: flex;
                    flex-direction: column;
                    
                    &:last-child{
                        align-items: center;
                    }
                }
                
                span {
                    margin-bottom: 4px;
                }
                
                input,textarea {
                    color: $black;
                    font-size: 24px;
                    line-height: 34px;
                    border: 1px solid $black;
                    padding: 20px;
                    
                    &:focus-visible{
                        outline: $orange solid;
                    }
                    
                    &::placeholder{
                        color: rgba($black, 0.51);
                    }
                }
                
                textarea {
                    resize: none;
                    height: 200px;
                }

                input,textarea,button{
                    border-radius: 4px;
                }

                button {
                    background: $black;
                    color: white;
                    border: none;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 34px;
                    padding: 13px;
                    margin: 12px 0 58px;
                    width: 230px;
                    
                    &:hover {
                        background: rgba($black, 0.9);
                        cursor: pointer;
                    }
                    
                    div {
                        flex-direction: row;
                        justify-content: center;
                        gap: 38px;
                    }
                }
            }
        }
    }

    .backgroundMenu {
        position: absolute;
        left: 0;
        top: 100px;
        height: calc(100% - 100px);
        width: 100%;
        background: $black;
        border-top: 2px solid white;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        a{
            width: 100%;
            padding: 30px;
            font-size: 32px;
            font-weight: 500;
            text-decoration: none;
            text-align: center;
            border-bottom: 2px solid white;

            &:visited {
                color: white;
            }

            &:hover{
                color: $orange;
            }
        }

        button {
            width: 100%;
            background: none;
            padding: 30px;
            border: none;
            cursor: pointer;
            font-size: 32px;
            font-weight: 500;
            font-family: 'Rubik', sans-serif;
            color: white;
            border-bottom: 2px solid white;

            &:hover{
                color: $orange;
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 639px) { 
    .container {
        
        .menu {
            display: none;
        }

        .menuMobile {
            display: block;
        }

        .background{

            .dialog {
                width: 80%;
                margin: 320px 0px;
                padding: 21px;

                h1 {
                    margin: 0px 0 30px;
                }

                form {
                    gap: 30px;
                    padding: 0 20px;
                    
                    input,textarea {
                        padding: 12px;
                        
                        &::placeholder{
                            font-size: 18px;
                        }
                    }

                    button {
                        margin: 22px 0 48px;
                        width: 150px;
                        
                        div {
                            gap: 0px;
                            justify-content: space-between;
                        }
                    }
                }

            }
        }
    }
 }

 @media (min-width: 640px) and (max-width: 767px) { 
    .container {  

        .menu {
            display: none;
        }
        
        .menuMobile {
            display: block;
        }

        .background{

            .dialog {
                width: 80%;
                margin: 320px 0px;
                padding: 21px;

                form {
                    padding: 0 60px;
                }
            }
        }
    }
 }

 @media (min-width: 768px) and (max-width: 1023px) { 
    .container {
                
        .menu {
            display: none;
        }

        .menuMobile {
            display: block;
        }

        .background{

            .dialog {
                width: 70%;
                margin: 320px 0px;
                padding: 21px;
            }
        }
    }
 }

 @media (min-width: 1024px) and (max-width: 1279px) { 
    .container {
                
        .menu {
            display: none;
        }

        .menuMobile {
            display: block;
        }

        .background{

            .dialog {
                width: 60%;
                margin: 320px 0px;
            }
        }
    }
 }

 @media (min-width: 1280px) and (max-width: 1599px) { 
    .container {

        .menuMobile {
            display: none;
        }

        .background{

            .dialog {
                width: 50%;
            }
        }
    }
 }