$black:#2D2D2D;

.container {
    width: 100vw;
    height: 100px;
    color: white;
    background-color: $black;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    h1{
        font-size: 36px;
        font-weight: 700;
    }
    
    div{
        display: flex;
        gap: 6.35vw;//118px
        font-size: 32px;
        font-weight: 500;
    }
}